# Enable the rewrite engine
RewriteEngine On

# Disable trailing slash
DirectorySlash Off

# Permanent redirect to non-www domain
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ https://%1/$1 [R=301,L]

# General rule to route "/api/{endpoint}" to "/api/{endpoint}/{endpoint}.php"
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^api/([^/]+)/?$ api/$1/$1.php [L]

# General rule to route "/api/{endpoint}/{sub-endpoint}" to "/api/{endpoint}/{sub-endpoint}.php"
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^api/([^/]+)/([^/]+)/?$ api/$1/$2.php [L]

# General rule to route "/api/{endpoint}/{sub-endpoint}/{sub-sub-endpoint}" to "/api/{endpoint}/{sub-endpoint}/{sub-sub-endpoint}.php"
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^api/([^/]+)/([^/]+)/([^/]+)/?$ api/$1/$2/$3.php [L]

# Return a 404 for any .sh file requests
RewriteRule ^.*\.sh$ - [L,R=404]

# Rewrite specifically the Discordbot user agent from submission page to embed page
RewriteCond %{HTTP_USER_AGENT} Discordbot [NC]
RewriteCond %{REQUEST_URI} ^/submission/([0-9]+)$
RewriteRule ^submission/([0-9]+)$ /embed/submission.php?id=$1 [QSA,L]

# Rewrite specifically the Discordbot user agent from suggestions page to embed page
RewriteCond %{HTTP_USER_AGENT} Discordbot [NC]
RewriteCond %{REQUEST_URI} ^/suggestions(/([0-9]+))?/?$ [NC]
RewriteRule ^suggestions(/([0-9]+))?/?$ /embed/suggestions.php?id=$2 [QSA,L]

# Rewrite specifically the Discordbot user agent from submission page to embed page
RewriteCond %{HTTP_USER_AGENT} Discordbot [NC]
RewriteCond %{REQUEST_URI} ^/challenge/([0-9]+)$
RewriteRule ^challenge/([0-9]+)$ /embed/challenge.php?id=$1 [QSA,L]

# Rewrite specifically the Discordbot user agent from submission page to embed page
RewriteCond %{HTTP_USER_AGENT} Discordbot [NC]
RewriteCond %{REQUEST_URI} ^/map/([0-9]+)/?(.*?)$
RewriteRule ^map/([0-9]+)/?(.*?)$ /embed/map.php?id=$1 [QSA,L]

# Rewrite specifically the Discordbot user agent from submission page to embed page
RewriteCond %{HTTP_USER_AGENT} Discordbot [NC]
RewriteCond %{REQUEST_URI} ^/campaign/([0-9]+)/?(.*?)$
RewriteRule ^campaign/([0-9]+)/?(.*?)$ /embed/campaign.php?id=$1 [QSA,L]

# Rewrite specifically the Discordbot user agent from submission page to embed page
RewriteCond %{HTTP_USER_AGENT} Discordbot [NC]
RewriteCond %{REQUEST_URI} ^/player/([0-9]+)/?(.*?)$
RewriteRule ^player/([0-9]+)/?(.*?)$ /embed/player.php?id=$1 [QSA,L]

# Rewrite specifically the Discordbot user agent from submission page to embed page
RewriteCond %{HTTP_USER_AGENT} Discordbot [NC]
RewriteCond %{REQUEST_URI} ^/top-golden-list/?(.*?)$
RewriteRule ^top-golden-list/?(.*?)$ /embed/top-golden-list.php [QSA,L]

# Rewrite specifically the Discordbot user agent from submission page to embed page
RewriteCond %{HTTP_USER_AGENT} Discordbot [NC]
RewriteCond %{REQUEST_URI} ^/campaign-list/?(.*?)$
RewriteRule ^campaign-list/?(.*?)$ /embed/campaign-list.php [QSA,L]

# Rewrite specifically the Discordbot user agent from submission page to embed page
RewriteCond %{HTTP_USER_AGENT} Discordbot [NC]
RewriteCond %{REQUEST_URI} ^/faq/?(.*?)$
RewriteRule ^faq/?(.*?)$ /embed/faq.php [QSA,L]

# Rewrite specifically the Discordbot user agent from submission page to embed page
RewriteCond %{HTTP_USER_AGENT} Discordbot [NC]
RewriteCond %{REQUEST_URI} ^/rules/?(.*?)$
RewriteRule ^rules/?(.*?)$ /embed/rules.php [QSA,L]

# Rewrite specifically the Discordbot user agent from submission page to embed page
RewriteCond %{HTTP_USER_AGENT} Discordbot [NC]
RewriteCond %{REQUEST_URI} ^/monthly-recap/?(.*?)$
RewriteRule ^monthly-recap/?(.*?)$ /embed/monthly-recap.php [QSA,L]

# Rewrite specifically the Discordbot user agent from submission page to embed page
RewriteCond %{HTTP_USER_AGENT} Discordbot [NC]
RewriteCond %{REQUEST_URI} ^/rejected-maps/?(.*?)$
RewriteRule ^rejected-maps/?(.*?)$ /embed/rejected-maps.php [QSA,L]

# Rewrite specifically the Discordbot user agent from submission page to embed page
RewriteCond %{HTTP_USER_AGENT} Discordbot [NC]
RewriteCond %{REQUEST_URI} ^/submit/?(.*?)$
RewriteRule ^submit/?(.*?)$ /embed/submit.php [QSA,L]

# Check if the requested file exists, if not, redirect to /index.html
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.html [QSA,L]